.gitlab {
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    display: flex;
    position: relative;
    flex-direction: row;
}

.gitlab .triangle-left {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 20px solid #e2432b;
    position: relative;
    z-index: 5;
}

.gitlab .triangle-left:hover {
    opacity: .5;
    cursor: pointer;
}

.gitlab .triangle-left::before {
    position: absolute;
    content: '';
    height: 0;
    top: 20px;
    left: 6px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 30px solid #e2432b;
}

.gitlab .triangle-right {
    width: 0;
    height: 0;
    margin-left: 20px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 20px solid #e2432b;
}

.gitlab .triangle-right:hover {
    opacity: .5;
    cursor: pointer;
}

.gitlab .triangle-center {
    position: relative;
    /*triangle-left.border-bottom + 1/3*triangle-left::before.border-top*/
    margin-top: 30px;
    margin-left: -47px;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-top: 20px solid #efa221;
}

.gitlab .triangle-center::before {
    position: absolute;
    content: '';
    top: -30px;
    left: -25px;
    height: 0;
    width: 50px;
    border-bottom: 10px solid #efa221;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.gitlab .triangle-center::after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: -30px;
    margin-left: -22px;
    border-left: 22px solid transparent;
    border-right: 22px solid transparent;
    border-top: 30px solid #e96b28;
    opacity: .8;
}

.gitlab .triangle-center:hover {
    opacity: .5;
    cursor: pointer;
}